.articleContainer {
  max-width: 1152px;
  width: 100%;
  margin: auto;

  .goBackContainer {
    max-width: 973px;
    width: 90%;
    margin: auto;
    margin-top: 15px;

    .goBack {
      width: 50px;
      height: 50px;
      cursor: pointer;
      margin-bottom: 32px;
      transform: rotate(-90deg);

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  .banner {
    display: block;
    max-width: 973px;
    width: 100%;
    height: 380.37px;
    object-fit: cover;
    margin: auto;
  }
}

.article {
  max-width: 973px;
  width: 90%;
  margin: auto;

  h1 {
    font-weight: bold;
    font-size: 2.8125rem;
    line-height: 3.375rem;
    color: var(--gray-800);
    max-width: 765px;
    margin: auto;
    margin-top: 41.63px;
  }

  div {
    max-width: 765px;
    margin: auto;
    margin-top: 19px;

    strong {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.375rem;

      color: var(--gray-800);
    }

    time {
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: var(--gray-600);
      margin-left: 25px;
    }

    .divider {
      border: 1px solid #e8e7e7;
      width: 100%;
      margin-top: 30.5px;
    }
  }

  .body {
    max-width: 765px;
    margin-top: 37.5px;
    margin-bottom: 58px;

    .bodyContent {
      h2 {
        color: var(--gray-800);
      }

      p,
      ul {
        color: var(--gray-600);
        margin: 1.5rem 0;
      }

      ul {
        padding-left: 1.5rem;

        li {
          margin: 0.5rem 0;
        }
      }

      strong {
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.21rem;

        color: var(--gray-700);
      }

      a {
        color: var(--purple-700);

        &:hover {
          text-decoration: underline;
        }
      }

      &.previewContent {
        background: linear-gradient(var(--gray-600), transparent);
        background-clip: text;
        -webkit-text-fill-color: transparent;

        :hover a {
          opacity: 1;
        }
      }
    }
  }

  .continueReading {
    padding: 2rem;
    text-align: center;
    background: var(--purple-700);
    border-radius: 100px;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1.9375rem;
    margin-bottom: 2.6875rem;
    color: var(--white);
    cursor: pointer;

    transition: filter 0.2s;

    span {
      margin-right: 0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .backToTopContainer {
    max-width: 973px;
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: flex-end;

    .backToTopButton {
      width: 50px;
      height: 50px;
      cursor: pointer;
      margin-bottom: 15px;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

// ========================= media queries =================

@media (max-width: 768px) {
  .banner {
    // height: 380.37px;
    height: 300px !important;
  }

  .article h1 {
    // font-size: 2.8125rem;
    // line-height: 3.375rem;
    font-size: 2.1875rem;
    line-height: 2.75rem;
  }
}

@media (max-width: 500px) {
  .goBackContainer {
    margin-top: 7.5px !important;

    .goBack {
      margin-bottom: 16px !important;
    }
  }

  .banner {
    height: 220px !important;
  }

  .article h1 {
    font-size: 1.75rem;
    line-height: 2.3125rem;
    margin-top: 20.84px;
  }

  .body {
    margin-top: 30px !important;
    margin-bottom: 40px !important;
  }
}

@media (max-width: 375px) {
  .continueReading {
    font-size: 1rem !important; // 16px
    padding: 1.625rem !important; // 26px
  }
}
