.feed {
  max-width: 940px;
  margin: auto;
  margin-top: 40px;

  // display: flex;
  // flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
}

.articleCard {
  max-width: 430px;
  // height: 391px;
  background: var(--white);
  border-radius: 5px;
  margin: 0 20px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
  transition: all 0.5s ease;

  &:hover {
    box-shadow: -2px 8px 22px 0 rgb(0 0 0 / 15%);
    transition: all 0.2s ease;
  }

  .articleCardImage {
    width: 430px;
    height: 200px;

    object-fit: cover;
  }

  .articleCardContent {
    max-width: 380px;
    height: 100%;
    margin-top: 1.125rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .articleCardHead {
      h2 {
        font-size: 22px;
        line-height: 1.5rem;
        font-weight: bold;

        color: var(--gray-800);

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      p {
        font-size: 15px;
        line-height: 1.0625rem;
        color: var(--gray-600);

        margin-top: 0.9375rem;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }

    .articleCardFooter {
      display: flex;
      justify-content: space-between;
      margin-top: 1.375rem;
      margin-bottom: 25px;

      p {
        font-size: 14px;
        line-height: 0.9375rem;
        color: var(--gray-700);
        margin: 0;
      }

      strong {
        font-weight: bold;
        font-size: 14px;
        line-height: 0.9375rem;
        padding-bottom: 4px;

        color: var(--gray-800);

        &:hover {
          background-image: repeating-linear-gradient(
            270deg,
            rgb(158, 173, 186),
            rgb(158, 173, 186) 2px,
            transparent 2px,
            transparent 4px
          );
          background-repeat: no-repeat;
          background-position: 0px 100%;
          background-size: 100% 2px;
        }
      }
    }
  }
}
