.feed {
  max-width: 940px;
  width: 90%;
  margin: 40px auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 40px;
}

.articleCard {
  max-width: 430px;
  // height: 391px;
  background: var(--white);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.2s, transform 0.2s, -webkit-box-shadow 0.2s,
    -webkit-transform 0.2s;

  &:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);
    transform: translateY(-4px);
  }

  .articleCardImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .articleCardContent {
    // max-width: 380px;
    height: 100%;
    margin-top: 1.125rem;

    padding: 0 25px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .articleCardHead {
      h2 {
        font-size: 1.375rem;
        line-height: 1.5rem;
        font-weight: bold;

        color: var(--gray-800);

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      p {
        font-size: 0.9375rem;
        line-height: 1.0625rem;
        color: var(--gray-600);

        margin-top: 0.9375rem;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }

    .articleCardFooter {
      display: flex;
      justify-content: space-between;
      margin-top: 1.375rem;

      time {
        font-size: 0.875rem;
        line-height: 0.9375rem;
        color: var(--gray-700);
        margin: 0;
      }
    }
  }
}

.spinnerContainer {
  grid-column: 1/ -1;
  text-align: center;

  .spinner {
    display: inline-block;
    z-index: 9999;

    width: 28px;
    height: 28px;

    border: solid 2px transparent;
    border-top-color: var(--purple-700);
    border-left-color: var(--purple-700);
    border-radius: 50%;

    -webkit-animation: spinner 400ms linear infinite;
    animation: spinner 400ms linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
