.signInButton {
  background: var(--purple-700);
  border-radius: 50px;
  border: none;
  padding: 8px 16px;

  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: bold;
  color: var(--white);

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.tooltipUserLoged {
  display: flex;
  flex-direction: column;
  width: 200px;

  h2 {
    font-size: 19px;
    color: var(--black);
    font-weight: 600;
    text-align: left;
    cursor: default;

    padding: 8px 8px 14px 8px;
    border-bottom: 1px solid var(--bg-card-latest);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  button {
    font-size: 17px;
    color: var(--gray-700);
    font-weight: 500;
    text-align: left;

    border: none;
    background-color: inherit;
    padding: 8px;
    margin-top: 8px;

    transition: color 0.15s ease-in;

    &:hover {
      color: var(--black);
    }
  }
}

.userAvatar {
  width: 38px !important;
  height: 38px !important;
}

// ================ media queries =================

@media (max-width: 375px) {
  .userAvatar {
    width: 32px !important;
    height: 32px !important;
  }
}
