.userAvatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.buttonSignIn {
  width: 100%;
  padding: 8px 12px;

  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray-800);

  background-color: inherit;
  border: none;

  &:hover {
    background-color: var(--bg-card-latest);
  }
}

.tooltipUserLoged {
  .userInfo {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-bottom: 4px;
    border-bottom: 1px solid var(--bg-card-latest);

    img {
      width: 44px;
      height: 44px;
      margin-right: 12px;
      border-radius: 50%;
      object-fit: cover;
    }

    div {
      display: flex;
      flex-direction: column;
      width: 177.1px;

      font-size: 14px;
      line-height: 1.2;
      text-align: start;
      cursor: default;

      strong {
        font-weight: 600;
        color: var(--gray-800);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        font-weight: 400;
        color: var(--gray-600);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  button {
    width: 100%;
    padding: 8px 12px;

    font-size: 0.875rem;
    font-weight: 500;
    color: var(--gray-800);
    text-align: left;

    background-color: inherit;
    display: flex;
    align-items: center;
    border: none;

    &:hover {
      background-color: var(--bg-card-latest);
    }
  }
}
