.headerContainer {
  height: 5.3125rem;
}

.headerContent {
  max-width: 976px;
  height: 5.3125rem;
  margin: auto;

  display: flex;
  align-items: center;

  h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
  }

  nav {
    margin-left: 5rem;

    height: 100%;
    display: flex;
    align-items: center;

    a {
      font-size: 16px;
      line-height: 19px;
      color: var(--gray-700);

      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

      &:hover {
        color: var(--gray-800);
      }

      &:first-child {
        margin-right: 30px;
      }

      &::after {
        background: var(--gray-800);
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: -webkit-transform 0.25s ease;
        transition: transform 0.25s ease;
        transition: transform 0.25s ease, -webkit-transform 0.25s ease;
        width: 100%;
      }

      &:hover:after {
        transform: scaleX(1);
      }

      &.active {
        color: var(--gray-800);
      }

      &.active::after {
        transform: scaleX(1);
      }
    }
  }

  .profileAndSearch {
    margin-left: auto;
  }
}
