.headerContainer {
  height: 5.3125rem;
}

.headerContent {
  width: 90%;
  max-width: 976px;
  height: 5.3125rem;
  margin: auto;

  display: flex;
  align-items: center;

  a {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
  }

  .rightItems {
    display: flex;
    align-items: center;
    margin-left: auto;

    nav {
      display: flex;
      align-items: center;

      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--gray-600);

        transition: color 0.15s ease-in;

        &:hover {
          color: var(--black);
        }

        &:first-child {
          margin-right: 30px;
        }

        &:last-child {
          margin-right: 28px;
        }

        &.active {
          color: var(--black);
        }
      }
    }
  }
}
