.searchContent {
  margin-left: 18.5rem;
  display: flex;

  input {
    width: 8.125rem;
    padding: 10px 11px 10px 11px;

    border-top: 0;
    border-bottom: 2px solid var(--white);
    border-right: 0;
    border-left: 0;

    -webkit-transition: border 0.4s ease-in-out;
    transition: border 0.4s ease-in-out;

    &:focus {
      outline: none;
      border-bottom: 2px solid var(--gray-800);
    }
  }
}
